html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/*Altera o tamanho do bloco de trás*/
.swiper {
  width: 70%;
  height: 30%;
}

/*Altera o tamanho da fonte*/
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Texto vertical do slider caso necessário */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/*Altera o tamanho da imagem dentro do slider*/
.swiper-slide img {
  display: block;
  width: 50%;
  height: 50%;
  object-fit: cover;
}