*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    font-family: Verdana;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#tst{
    height: 100px;
    border: 10px solid rgb(255, 255, 255);  
}

#esp{
    opacity: 0;
    height: 5px;
    background-color: rgb(255, 255, 255);
    background-image: url("#");
    background: linear-gradient(#ffffff,#ffffff);
    
}

#menu2{
    width: 100%;
    box-shadow: 2px 2px 6px;
    text-shadow: 2px 2px 9px rgb(0, 0, 0);
    position: fixed;
    background-image: url("#");
    background: linear-gradient(#dcf7f9,#ffffff);
}

#logo, p{
    color: rgb(6, 6, 9);
    width: 100%;
    font-size: 30px;
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
}

button{
    margin-right: 80px;
    padding-top: 5px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(0, 0, 0);
    align-items: center;
}

.ofertas img{
    height: 100px;   
}

h2{
    color: rgb(4, 4, 10);
}

figure{
    border: 1.5px solid rgb(11, 5, 5);
    border-radius: 10px;
    width: 200px;
    box-shadow: 1px 2px 8px black;
    text-align: center;
    display: inline-block;
    margin: 10px;
    block-size: 300px;
    vertical-align: middle;

}

img{
    max-width: 200px;
}

figure figcaption{
    font-size: 15px;
}

figcaption, h2{
    color: rgb(0, 0, 0);
}

footer{
    width: 100%;
    height: 100px;
    display: inline-block;
    max-width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    background-image: url("#");
    background: linear-gradient(#ffffff,#ffffff);}

footer .boxes{
    width: 320px;
    min-height: 150px;
    display: inline-block;
    text-align: center;
}



footer #boxes:nth-child(3){
width: 900px;
}

hr{
    width: 190px;
    color: black;
}

footer h2{
    color: #000000;
}

#ofd{
    font-size: 15px;
}

.ofertas, #ofd, h1{
    margin: 2px;
    padding: 2px
}

#nav2, #bebidas, #limpeza, #frutas #peixes{ 
    background-color: rgb(255, 255, 255);
    height: 100%;
    text-align: center;
}

.ofertas h1{
    text-align: left;
    padding: 10px;
}


.bebidas div{
    display: flex;
    
}

.limpeza div{
    display: flex;  
    
}

#peixes{
    display: flex;
}

#frutas{
    display: flex;
    text-align: center;
    
}

#bebidas{
    display: flex;
}


.nome, .email{
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.assunto, .msg{
    margin: 2px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: -12px;
}

#btt{
    text-align: right;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 12px;
}

.formulario{
    width: 200px;
    display: flex;
    
}

#boxes{
    padding: 15px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

#boxes ul li h2{
    display: flex;
    flex-direction: column;
    align-content: left;
}

div.boxes {
    display: block;
}

div.sociais{
    width: 700px;
}

.redes div{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.formulario p{
    font-size: 1.5em;
}

.field{
    margin: 15px 0;
    padding: 5px;
    margin-left: 10px;
}

.field label, .field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
}

.radiobox label{
    display: inline-block;
}

input[type=text],input[type=email],textarea{
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}

input#nao{
    margin-left: 30px;
}

textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}

input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

input[type=submit]:hover{
    opacity: 0.7;
    transition: 0.3s;
}

input[type=submit]:active{
    background-color: rgb(152, 215, 220);
    box-shadow: 0 5px rgb(105, 105, 105);
    transform: translateY(2px);
}

a{
    text-decoration: none;
    color: black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover{
    opacity: 0.7;
    transition: 0.3s;
}

.fa:active{
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-twitter{
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: white;
}

.logo-social{
    height: 35em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

li a{
    border-radius: 25px;
    padding: 2px;
   
}

footer li{
    list-style: none;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  #menu a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    margin-right: 10px;
    font-size: 15px;
     background-color: rgb(8, 8, 15);
    color: white;
  }
  
  #btn-mobile {
    display: none;
  }
  
@media(max-width: 1000px){
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 10px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
      }
  
      #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
      }
  
      #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(4, 3, 3, 0.05);
      }
  
      #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
      }
  
      #hamburger {
        border-top: 2px solid;
        width: 20px;
      }
  
      #hamburger::after,#hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
      }
  
      #nav.active #hamburger {
        border-top-color: transparent;
      }
  
      #nav.active #hamburger::before {
        transform: rotate(135deg);
      }
  
      #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }
    }

        @media(max-width: 560px){
            #menu {
                display: block;
                position: absolute;
                width: 100%;
                top: 70px;
                right: 10px;
                background: #e7e7e7;
                transition: 0.6s;
                z-index: 1000;
                height: 0px;
                visibility: hidden;
                overflow-y: hidden;
              }
          
              #nav.active #menu {
                height: calc(100vh - 70px);
                visibility: visible;
                overflow-y: auto;
              }
          
              #menu a {
                padding: 1rem 0;
                margin: 0 1rem;
                border-bottom: 2px solid rgba(4, 3, 3, 0.05);
                text-align: center;
              }
          
              #btn-mobile {
                display: flex;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                border: none;
                background: none;
                cursor: pointer;
                gap: 0.5rem;
              }
          
              #hamburger {
                border-top: 2px solid;
                width: 20px;
              }
          
              #hamburger::after,#hamburger::before {
                content: '';
                display: block;
                width: 20px;
                height: 2px;
                background: currentColor;
                margin-top: 5px;
                transition: 0.3s;
                position: relative;
              }
          
              #nav.active #hamburger {
                border-top-color: transparent;
              }
          
              #nav.active #hamburger::before {
                transform: rotate(135deg);
              }
          
              #nav.active #hamburger::after {
                transform: rotate(-135deg);
                top: -7px;
              }
    
              p{
                  visibility: hidden;
              }

              #logo, #menu{
                  justify-content: space-between;
              }

              .logo-social{
                  visibility: hidden;
              }
            }
