html{
    font-family: Verdana;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#menu{
    height: 100px;
    background: linear-gradient(#f7ff,#fff);
    border: 1px solid rgb(149, 59, 194);
    box-shadow: 2px 2px 6px;
    text-shadow: 2px 1.5px 5px #000;
}

#logo, p{
    color: rgb(68, 87, 138);
    width: 100%;
    font-size: 32px;
    display: flex;
    margin: 5px;
    height: 80px;
}

.ofertas img{
    height: 100px;   
}

h2{
    color: blue;
}

figure{
    border: 1.5px solid black;
    border-radius: 10px;
    width: 200px;
    box-shadow: 1px 2px 3px;
    text-align: center;
    display: inline-block;
    margin: 10px;
}

figure figcaption{
    font-size: 15px;
}

figcaption, h2{
    color: red;
}

footer{
    background: linear-gradient(#fff,#f7ff);
    border: 1px solid rgb(149, 59, 194);    
    box-shadow: 1px 2px 8px;
    text-align: center;
    width: 100%;
}

hr{
    width: 190px;
    color: black;
}

#ofd{
    font-size: 15px;
}

.ofertas, #ofd, h1{
    margin: 2px;
    padding: 2px
}

#nav2, #bebidas, #limpeza, #frutas{ 
    background-color: rgb(246, 252, 252);
    height: 100%;
}

.ofertas h1{
    text-align: left;
    padding: 10px;
}

.container{
    text-align: center;
}

.bebidas div{
    display: flex;
    flex-wrap: wrap;
}

.limpeza div{
    display: flex;    
}

#frutas{
    display: flex;
    text-align: center;
}

#bebidas{
    display: flex;
}

